/* Adaugam variabile globale: */
:root {
	--text-primary: #101d42;
	--text-secondary: #2bb686;
	--text-dark: #2b2922;
	--text-light: #eaeaea;

	--bg-primary: #141e4c;
	--bg-secondary: #dfedf5;
	--bg-dark: #101d42;
}

/* Resetam proprietati default: */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: inherit;
}

/* Alert Styles */
.alertContainer {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50px;
	z-index: 5;
}

#alertNotification {
	width: fit-content;
}

/* Scroll Button */
#scrollBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: var(--bg-primary);
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Customizam Bootstrap: */
.btn:focus {
	outline: none !important;
	box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
	background-color: #2bb686;
	border-color: #2bb686;
}

.text-primary {
	color: #101d42 !important;
}

.text-secondary {
	color: #2bb686 !important;
}

.text-light {
	color: #eaeaea !important;
}

.text-dark {
	color: #2b2922 !important;
}

.bg-primary {
	background-color: #141e4c !important;
}

.bg-secondary {
	background-color: #dfedf5 !important;
}

.bg-dark {
	background-color: #101d42 !important;
}

h1,
h2,
h3 {
	font-weight: bold;
}
